<%= form_for(@receipe) do |f| %>
  <% if @receipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipe.errors.count, "error") %> prohibited this receipe from being saved:</h2>

      <ul>
      <% @receipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :instruction %><br>
    <%= f.text_area :instruction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
