<p id="notice"><%= notice %></p>

<h1>Listing Receipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Instruction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipes.each do |receipe| %>
      <tr>
        <td><%= receipe.title %></td>
        <td><%= receipe.instruction %></td>
        <td><%= link_to 'Show', receipe %></td>
        <td><%= link_to 'Edit', edit_receipe_path(receipe) %></td>
        <td><%= link_to 'Destroy', receipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipe', new_receipe_path %>
