<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @receipe.title %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @receipe.instruction %>
</p>

<%= link_to 'Edit', edit_receipe_path(@receipe) %> |
<%= link_to 'Back', receipes_path %>
